.vscode/**
node_modules/**
.pnpm-store/**
src/**
.env*
.gitignore
.gitattributes
.github/**
cliff.toml
lefthook.yml
pnpm-lock.yaml
pnpm-workspace.yaml
*.vsix
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
